/*régles généraux*/

@font-face {
      font-family: 'Rajdhani';
      src: url(./fonts/Rajdhani-Medium.ttf);
}
@font-face {
      font-family: 'Space-Grotesk bold';
      src: url(./fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
      font-family: 'Space-Grotesk regular';
      src: url(./fonts/SpaceGrotesk-Regular.ttf);
}
:root{
      --yellow-color: #ff0;
      --WHITE-color: #fff;
      --BLACK-color: #000;
      --GRAY-color: #c4c4c480;
      --yellow1-color: #f8f184;
      --BLACK1-color: #0d0e09;
      --MARON-color: #b11313;
      --BLEU-color: #19599d77;
      --HOVER1-color: #eddebf67;
      --HOVER2-color: #89000979;

}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
h1{
      font-family: 'Rajdhani';
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 40px;
      margin-top: 40px;
}
h2{
      font-family: 'Space-Grotesk bold';
      font-size: 30px;
      font-weight: 300; 
}
h3{
      font-family: 'Space-Grotesk regular';
      font-size: 20px;
      font-weight: 300;
} 
p{
      font-family: 'Space-Grotesk regular';
      font-size: 20px;
      font-weight: 300;
     
} 
body{
      color: #fff;
}

button{
      font-family: 'Rajdhani';
      font-size: 20px;
      font-weight: 400;
      color: #fff;
}

body{
      background-image: url(./Assets/Illustrations/Bathome1.png);
      background-repeat: no-repeat;
      background-color: var(--BLACK-color);
     
}
header,main,footer{
      /* border: 2px solid rgb(236, 240, 241); */
      margin: auto;
      width: 80%;
}
/* section{
      margin-left: 5%;
      margin-right: 5%;
} */
main{
      border-bottom: 0;
}
footer{
      border-top: 0;
}
/* section hero*/
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 200px;
}
header{
      padding: 0 132px;
}
a{
      list-style: none;
      color: #fff;
      text-decoration: none;
}
ul{
      list-style: none;
}
nav ul a{
      color: var(--WHITE-color);
      font-size: 30px;
      font-weight: 500;
      font-family: 'Rajdhani';
     
}
nav ul a:hover{
      color: var(--yellow-color);   
}
    
.hero_text{
      text-align: center;
      margin: 200px;
      margin-bottom: 20px;
}
.hero_titre{
      text-align: center;
      margin-bottom: 20px;
}
.hero_button{
      text-align: center;
      margin-bottom: 280px;
      
}
.btn{
      font-size: 22px;
      padding: 10px 20px;
      background: linear-gradient(80deg, var(--HOVER1-color ),var(--HOVER2-color));
      box-shadow: #000 5px 5px 50px;
      margin-top: 10px;
}
.logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      right: 80px;
      top: 240px;
}
.logo .social{
      margin-top: 15px;
}
/* section batman au cinema*/
.card{
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      margin-bottom: 100px;
}
.hero_logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      
}
.personnage_info{
      text-align: center;
}



/* section3 nemesis*/

/* section4 alliés*/

/* section5 justice league*/
#section5 .justice{
      margin: 5% -15%;
      /* width: 100%; */
}
/* section6 multimedia*/

/* section7 formulaire*/
#section7{
      background:linear-gradient(80deg, var(--GRAY-color ),var(--BLEU-color));
}
/* section replique*/
#section8{
      margin: 90px;

}
#section8 .citations-items{
      width: 50%;
      margin: 10px auto;
}
#section8 .replique{
      padding-top: 30px;
      font-family: 'Rajdhani';

}
#section8 .citations{
      padding-top: 30px;
      font-size: 14px;
      font-family: 'Rajdhani';
}
#section8 .guillemet_bas{
      float: right;
}
/* section footer*/
footer{
      margin-top: 200px;
}
footer .text_footer{
      text-align: center;
      font-size: 14px;
}
footer .reseaux{
      text-align: center;
      margin: 50px 0;
}
footer .social{
      padding: 20px;
}